<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Library</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

    <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v1.1.0/modern-normalize.min.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>

  <body>

    <div name="header" class="flex flex-row justify-center items-center" style="height:calc(var(--vh) * 7.5);max-height:calc(var(--vh) * 7.5);">
      <div class="flex w-full flex-row justify-center items-center mx-auto max-w-sm" id="controls" style="height:calc(var(--vh) * 7.5);max-height:calc(var(--vh) * 7.5);">
        <button id="lastChapter" class="w-1/6 h-full mx-4 flex justify-center items-center"><img class="w-3/4 h-3/4" src="{{ asset('build/images/chevronLeft.svg') }}"></button>
        <select id="chapterSelect" class="w-2/6 mx-2 flex justify-center items-center"></select>
        <button id="nextChapter" class="w-1/6 h-full mx-4 flex justify-center items-center"><img class="w-3/4 h-3/4" src="{{ asset('build/images/chevronRight.svg') }}"></button>
        <button id="loadSelected" class="w-1/6 h-full mx-4 flex justify-center items-center"><img class="w-3/4 h-3/4" src="{{ asset('build/images/download.svg') }}"></button>
        {# <button id="savePosition" class="w-1/6 h-full mx-4 flex justify-center items-center"><img class="w-3/5 h-3/5" src="{{ asset('build/images/save.svg') }}"></button> #}
      </div>
    </div>

    <div id="messageBoxHolder" style="display:none;"><div id="messageBox"></div></div>

    <div id="libraryMenu" class="fixed z-10 bg-white mx-auto flex flex-col justify-start items-center">

      <label for="libraryMenu" class="my-2 font-bold">Library</label>

      <div id="libraryMenuToggles" class="mx-auto my-2 flex flex-row justify-center items-center w-full max-w-xs">
        <button id="toggleLibrary" class="panelToggle w-1/3 h-full mx-4 p-2 flex justify-center items-center rounded-lg">Files</button>
        <button id="toggleGenre" class="panelToggle w-1/3 h-full mx-4 p-2 flex justify-center items-center rounded-lg">Genre</button>
        <button id="toggleAuthor" class="panelToggle w-1/3 h-full mx-4 p-2 flex justify-center items-center rounded-lg">Author</button>
      </div>

      <div id="selectDocumentPanel" class="togglePanels mx-auto flex flex-col justify-start items-center w-full max-w-xs">
        <div id="triggerSelectFile" class="togglePanelSub max-w-xs w-full max-h-full overflow-y-scroll">

          {% for link in links %}
            <div class='makecurrents source w-10/12 mx-auto my-2 p-2 rounded-lg hover:bg-gray-100' data-value="{{ link.link }}" data-author="{{ link.author }}" data-genre="{{ link.genre }}">{{ link['title'] }}</div>
          {% endfor %}

        </div>
        <div class="mx-auto flex flex-col justify-center items-center">
          <button id="loadFile" class="max-w-xs rounded-lg p-2 m-2 drop-shadow-sm hover:scale-110 active:scale-90" style="background-color: var(--grey); color: var(--foregroundLight);">Load</button>
        </div>
      </div>

      <div id="genreFilterPanel" class="togglePanels mx-auto flex flex-col justify-start items-center w-full max-w-xs">
        <div class="mx-auto flex flex-row justify-center items-center w-full">
          <label for="triggerSelectGenre">Clear Filter</label>
          <button id="clearGenre" class="clearButtons w-1/6 h-full mx-4 flex justify-center items-center"><img class="w-3/4 h-3/4" src="{{ asset('build/images/x.svg') }}"></button>
        </div>
        <div id="triggerSelectGenre" class="togglePanelSub max-w-xs w-full max-h-full overflow-y-scroll">

          {% for link in genres %}
            <div class='filtergenres genre w-10/12 mx-auto my-2 p-2 rounded-lg hover:bg-gray-100'>{{ link.genre }}</div>
          {% endfor %}

        </div>
      </div>

      <div id="genreAuthorPanel" class="togglePanels mx-auto flex flex-col justify-start items-center w-full max-w-xs">
        <div class="mx-auto flex flex-row justify-center items-center w-full">
          <label for="triggerSelectAuthor">Clear Filter</label>
          <button id="clearAuthor" class="clearButtons w-1/6 h-full mx-4 flex justify-center items-center"><img class="w-3/4 h-3/4" src="{{ asset('build/images/x.svg') }}"></button>
        </div>
        <div id="triggerSelectAuthor" class="togglePanelSub max-w-xs w-full max-h-full overflow-y-scroll">

          {% for link in authors %}
            <div class='filterauthors author w-10/12 mx-auto my-2 p-2 rounded-lg hover:bg-gray-100'>{{ link.author }}</div>
          {% endfor %}

        </div>
      </div>

    </div>

    <div id="settingsMenu" class="fixed z-10 bg-white mx-auto flex flex-col justify-start items-center">
      <label for="settingsMenu" class="my-2 font-bold">Settings</label>
      <div class="mx-auto my-2 flex flex-col justify-center items-center">
        <label for="loadFile" class="my-2">Select Voice</label>
        <select id="voiceSelect" class="my-2 max-w-xs border border-black rounded-lg p-2 drop-shadow-sm"></select>
      </div>
      <div class="mx-auto my-2 flex flex-col justify-center items-center">
        <label for="loadFile" class="my-2">Volume</label>
        <input type="range" min="0" max="1" step="0.05" value="1" class="slider my-2 max-w-xs border border-black rounded-lg p-2 drop-shadow-sm" id="volumeSlider">
        <input type="number" id="showVolume" min="0" max="1" step="0.05" value = "1" class="my-2 border border-black rounded-lg p-2 drop-shadow-sm">
      </div>
      <div class="mx-auto my-2 flex flex-col justify-center items-center">
        <label for="loadFile" class="my-2">Speech Speed</label>
        <input type="range" min="0.1" max="10" step="0.1" value="1" class="slider my-2 max-w-xs border border-black rounded-lg p-2 drop-shadow-sm" id="rateSlider">
        <input type="number" id="showRate" value = "1" min="0.1" max="10" step="0.1" class="my-2 border border-black rounded-lg p-2 drop-shadow-sm">
      </div>
      <div class="mx-auto my-2 flex flex-col justify-center items-center">
        <label for="fontSize" class="my-2">Font Size</label>
        <select id="fontSize" class="my-2 max-w-xs border border-black rounded-lg p-2 drop-shadow-sm">
          <option value=8>8</option>
          <option value=10>10</option>
          <option value=12>12</option>
          <option value=14>14</option>
          <option value=16 selected>16</option>
          <option value=18>18</option>
          <option value=18>20</option>
          <option value=18>22</option>
          <option value=18>24</option>
        </select>
      </div>
      <div class="mx-auto my-2 flex flex-col justify-center items-center">
        <label for="fontStyle" class="my-2">Font Style</label>
        <select id="fontStyle" class="my-2 max-w-xs border border-black rounded-lg p-2 drop-shadow-sm">
          <option value="Arial, sans-serif">Arial</option>
          <option value="'Brush Script MT', cursive">Brush Script</option>
          <option value="'Courier New', monospace">Courier New</option>
          <option value="Garamond, serif">Garamond</option>
          <option value="Georgia, serif">Georgia</option>
          <option value="Helvetica">Helvetica</option>
          <option value="Nunito" selected>Nunito</option>
          <option value="Tahoma, sans-serif">Tahoma</option>drop-shadow-sm
          <option value="'Times New Roman', serif">Times New Roman</option>
          <option value="'Trebuchet MS', sans-serif">Trebuchet MS</option>
          <option value="Verdana, sans-serif">Verdana</option>
        </select>
      </div>
      <div class="mx-auto my-2 flex flex-col justify-center items-center">
        <label for="autoplayCheckbox" class="my-2">Autoplay</label>
        <input type="checkbox" id="autoplayCheckbox" class="w-4 h-4 m-4 flex justify-center items-center border border-black rounded-lg p-2 drop-shadow-sm"/>
      </div>
    </div>

    <div id="textDiv">
      <textarea class="textAreas" id="textArea"></textarea>
      <div id="hiddenText" hidden></div>
    </div>

    <div name="footer" id="botControl" class="flex justify-center items-center box-border border-t border-gray-100" style="height:calc(var(--vh) * 7.5);max-height:calc(var(--vh) * 7.5);">
      <div class="flex w-full flex-row justify-center items-center mx-auto max-w-sm" id="botControlDiv" style="height:calc(var(--vh) * 7.5);max-height:calc(var(--vh) * 7.5);">
        <button id="libraryButton" class="h-11/12 w-1/6 mx-4 flex justify-center items-center rounded-lg"><img class="w-10/12 h-10/12" src="{{ asset('build/images/database.svg') }}"></button>
        <button id="optionsButton" class="h-11/12 w-1/6 mx-4 flex justify-center items-center rounded-lg"><img class="w-10/12 h-10/12" src="{{ asset('build/images/options.svg') }}"></button>
        <button id="playButton" class="h-11/12 w-1/6 mx-4 flex justify-center items-center rounded-lg"><img id="iPlay" class="w-10/12 h-10/12" src="{{ asset('build/images/play.svg') }}"></button>
        <input id="locationNumber" type="number" min="0" value="0" class="w-2/6 mx-2 flex justify-center items-center border border-black rounded-lg p-2 drop-shadow-sm">
        <button id="stopButton" class="h-11/12 w-1/6 mx-4 flex justify-center items-center rounded-lg"><img class="w-10/12 h-10/12" src="{{ asset('build/images/stop.svg') }}"></button>
      </div>
    </div>

  </body>
</html>